{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $codespaces := false -}}{{/* true if this machine is run as a GitHub Codespace, VSCode Remote Container, etc */}}
{{- $dagmar := false -}}{{/* true if this machine should have Dagmar secrets from git-secret */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from 1Password */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $codespaces = true -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $serialNumberSHA256Sum := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" | sha256sum -}}
{{-   if eq $serialNumberSHA256Sum "8a3df051540c8f8f000265e31fdc84196b7a91335f64c224a6e48c552f88c8e0" -}}
{{-     $hostname = "jussis-imac" -}}
{{-     $personal = true -}}
{{-   else if eq $serialNumberSHA256Sum "d102ea738bbd9204306012124ad57966daf9b0886ee95ef295630267b1963ea7" -}}
{{-     $hostname = "jussis-mbp-dagmar" -}}
{{-     $personal = true -}}
{{-     $dagmar = true -}}
{{-   end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "jussis-imac" "jussis-mbp-dagmar" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "jussis-mbp-dagmar" -}}
{{-     $dagmar = true -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .is_headless -}}
{{-     else -}}
{{-       $headless = promptBool "headless" -}}
{{-     end -}}
{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .is_ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBool "ephemeral" -}}
{{-     end -}}
{{-   else -}}
{{-     $headless = true -}}
{{-     $ephemeral = true -}}
{{-   end -}}
{{- end -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Jussi Kämäräinen" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "4950494+jussapaavo@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ $.chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  hostname: {{ $hostname | quote }}
  is_dagmar: {{ $dagmar }}
  is_personal: {{ $personal }}
  is_headless: {{ $headless }}
  is_ephemeral: {{ $ephemeral }}
  is_codespace: {{ $codespaces }}