{{- if (eq .chezmoi.os "darwin") -}}
[storage]
engine = icloud

{{   if not (eq .chezmoi.username "jussi") }}
[applications_to_sync]
gnupg
ipython
jupyter
ssh
zzz-keyremap
zzz-dbt

{{   end }}
[applications_to_ignore]
mackup
git
zsh
p10k
kitty
hammerspoon
vim
neovim
boto
bash
spectacle
messages
rectangle
jumpcut
colorslurp
spotify
bettertouchtool
raycast
{{ end -}}