{{- if (eq .chezmoi.os "darwin") -}}
[storage]
engine = icloud

{{   if not (eq .chezmoi.username "jussi") }}
[applications_to_sync]
kitty
gnupg
ipython
jupyter
ssh
zzz-keyremap
zzz-kitty_theme
zzz-dbt

{{   end }}
[applications_to_ignore]
git
zsh
p10k
mackup
hammerspoon
boto
bash
spectacle
messages
rectangle
jumpcut
colorslurp
spotify
{{ end -}}