#!/bin/sh

{{- if .is_arm }}
{{/*
# Add Homebrew path for Apple Silicon.
*/ -}}
export PATH=/opt/homebrew/bin:$PATH
{{- end }}

# pipenv
export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH

# pyenv
export PATH={{ .chezmoi.homeDir }}/.pyenv/shims:$PATH