#!/bin/sh

{{- if .is_arm }}
{{/*
# Add Homebrew path for Apple Silicon.
*/ -}}
export PATH=/opt/homebrew/bin:$PATH
{{- end }}

# pipenv
export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH

# pyenv
export PATH={{ .chezmoi.homeDir }}/.pyenv/shims:$PATH

# Work related utility for enabling AD login in AWS CLI
export PATH={{ .chezmoi.homeDir }}/Development/SOK/ad-aws-login/bin:$PATH