{{- if eq .chezmoi.os "darwin" -}}
{{- /*
# Speed up ZSH init with:
# https://gist.github.com/ctechols/ca1035271ad134841284
# https://carlosbecker.com/posts/speeding-up-zsh
*/ -}}

autoload -Uz compinit
if [ $(date +'%j') != $(stat -f '%Sm' -t '%j' $ZSH_COMPDUMP) ]; then
  compinit
else
  compinit -C
fi
{{- end }}

extensions=(
  paths
  aliases
  functions
{{- if (eq .chezmoi.os "darwin") }}
  plugins
{{ end -}}
)

for extension in $extensions; do
  source ~/.config/sh/$extension.sh
done

source ~/.config/zsh/ohmyzsh.sh

{{ if (eq .chezmoi.os "darwin") -}}
# Google Cloud SDK
source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
{{ end -}}
