{{- /*
###
# .zimrc - Zim plugins file
# Not sourced in any other file, run `zimfw install` to install it.
###
*/ -}}

# Behaviour
zmodule input
zmodule zsh-users/zsh-completions --fpath src
zmodule completion # Does `compinit` for your

# Prompt
zmodule romkatv/powerlevel10k --use degit

# Productivity
zmodule git
zmodule paulirish/git-open
zmodule mattmc3/zfunctions
zmodule ohmyzsh/ohmyzsh --root plugins/aliases

{{ if (eq .chezmoi.os "darwin") -}}
zmodule ohmyzsh/ohmyzsh --root plugins/direnv
zmodule ohmyzsh/ohmyzsh --root plugins/zoxide
zmodule ohmyzsh/ohmyzsh --root plugins/thefuck

# Local plugins
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/gcloud
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/python
#zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/conda
{{- end }}

# Modules that must be initialized last
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
