{{- /*
###
# .zshenv - Zsh environment file, loaded always.
###
*/ -}}

source ~/.config/sh/environ
source ~/.config/sh/paths

# Cache
export ZSH_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}"
export ZSH_COMPDUMP="${XDG_CACHE_HOME:-$HOME/.cache}/zsh/zcompdump-${SHORT_HOST}-${ZSH_VERSION}"
export HISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}/zsh/zsh_history"
export ZIM_HOME="${XDG_CACHE_HOME:-$HOME/.cache}/zim/"

# Utilities
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# Ensure path arrays do not contain duplicates.
typeset -gU fpath path

# Regional settings
LANG="en_US.UTF-8"
LC_COLLATE="en_US.UTF-8"
LC_CTYPE="en_US.UTF-8"
LC_MESSAGES="en_US.UTF-8"
LC_MONETARY="fi_FI.UTF-8"
LC_NUMERIC="en_US.UTF-8"
LC_TIME="fi_FI.UTF-8"

{{ if (eq .chezmoi.os "darwin") -}}
# Misc
export KEYTIMEOUT=1 {{- /* Reduces delay when entering vi-mode */}}
export SHELL_SESSIONS_DISABLE=1 {{- /* Make Apple Terminal behave */}}
{{- end }}
