{{- /*
###
# .zimrc - Zim plugins file
# Not sourced in any other file, run `zimfw install` to install it.
###
*/ -}}

# Behaviour
zmodule input
zmodule zsh-users/zsh-completions --fpath src
zmodule completion # Does `compinit` for your

# Prompt
zmodule romkatv/powerlevel10k --use degit

# Productivity
zmodule git
zmodule paulirish/git-open
zmodule mattmc3/zfunctions
zmodule ohmyzsh/ohmyzsh --root plugins/aliases
zmodule ohmyzsh/ohmyzsh --root plugins/dirhistory
zmodule ohmyzsh/ohmyzsh --root plugins/history-substring-search

zmodule ohmyzsh/ohmyzsh --root plugins/zoxide
zmodule ohmyzsh/ohmyzsh --root plugins/fzf
zmodule Aloxaf/fzf-tab
{{ if eq .chezmoi.os "darwin" -}}
zmodule ohmyzsh/ohmyzsh --root plugins/direnv
zmodule ohmyzsh/ohmyzsh --root plugins/thefuck
{{- end }}

# Local plugins
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/options
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/better-cd
{{ if eq .chezmoi.os "darwin" -}}
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/aws
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/gcloud
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/snowflake
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/python
{{- end }}
{{- if eq .chezmoi.hostname "a0d7b954-ssh" }}
zmodule {{ .chezmoi.homeDir }}/.config/zsh/plugins/ha
{{- end }}

# Modules that must be initialized last
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
