#!/bin/sh

# Shortcuts
alias reloadshell='source $HOME/.zshrc'
alias c='clear'
alias e='exit'
alias o='git-open'
alias aliases='als'

# Directories
alias dev='cd $HOME/Development'
alias devs='cd $HOME/Development/SOK'
alias devp='cd $HOME/Development/Personal'

# Tools
alias cm='chezmoi'
alias tg='terragrunt'
alias tf='terraform'
alias jn='jupyter notebook'
alias ls='exa --icons --color=always'

# Git
alias amend='git add . && git commit -a --amend --no-edit'
alias force='git push --force-with-lease origin'
alias nuke='git clean -df && git reset --hard origin/main'
alias resolve='git add . && git commit --no-edit'
alias prune='git branch --merged | egrep -v "(^\*|main|master|dev)" | xargs git branch -d'
alias yolo='git commit -m "$(curl -s https://whatthecommit.com/index.txt)"'

# Development workflow
alias cab='source $HOME/.config/sh/conda.sh && conda activate base'
alias ca='source $HOME/.config/sh/conda.sh && conda activate'
