# XDG
export XDG_CONFIG_HOME=~/.config
export XDG_CACHE_HOME=~/.cache
export XDG_DATA_HOME=~/.local/share
export XDG_STATE_HOME=~/.local/state
export XDG_RUNTIME_DIR=~/.xdg

# Apps
export VIMINIT="source $XDG_CONFIG_HOME/vim/vimrc"
export DBT_PROFILES_DIR=$XDG_CONFIG_HOME/dbt/
