#!/bin/sh

{{ if .is_arm -}}
# Add Homebrew path for Apple Silicon.
export PATH=/opt/homebrew/bin:$PATH
{{- end }}

{{ if (eq .chezmoi.os "darwin") -}}
# pipenv
export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH

# pyenv
export PATH={{ .chezmoi.homeDir }}/.pyenv/shims:$PATH
{{- end }}

{{ if (eq .chezmoi.os "darwin") -}}
# Google Cloud SDK
if [ -n "$ZSH_VERSION" ]; then
    source "$(brew --prefix)/share/google-cloud-sdk/path.zsh.inc"
    source "$(brew --prefix)/share/google-cloud-sdk/completion.zsh.inc"
elif [ -n "$BASH_VERSION" ]; then
   source "$(brew --prefix)/share/google-cloud-sdk/path.bash.inc"
fi
{{- end -}}
