# direnv
which direnv >/dev/null && eval "$(direnv hook zsh)"

# Pyenv
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi

# Zoxide
which zoxide >/dev/null && eval "$(zoxide init zsh)"

{{ if (eq .chezmoi.os "darwin") -}}
# Google Cloud SDK
if [ -n "$ZSH_VERSION" ]; then
   source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
elif [ -n "$BASH_VERSION" ]; then
   source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc"
fi
{{ end -}}
