[init]
  defaultBranch = main

[color]
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
  pager = delta
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore

[interactive]
  diffFilter = delta --color-only

[rerere]
  enabled = true

[commit]
  verbose = true
  gpgsign = true

[push]
  default = current

[pull]
	rebase = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[delta]
  navigate = true    # use n and N to move between diff sections
  line-numbers = true
  # side-by-side = true

[github]
  user = jussapaavo

[user]
	name = {{ .name }}
	email = {{ .email_main }}
  {{- if .is_desktop }}
  signingkey = {{ .public_key_main }}
  {{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{ if .include_work -}}
[includeIf "gitdir/i:**/SOK/"]
	path = {{ .chezmoi.homeDir }}/.config/git/config-work
{{- end }}

{{ if (eq .chezmoi.os "darwin") -}}
[credential]
  helper = osxkeychain
{{- end }}
