{{- /* UI - Makes things easier to read */ -}}

[color]
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[commit]
  verbose = true
  gpgsign = true

{{- /* Funcionality - Better defaults and enable Quality of Life features */}}

[init]
  defaultBranch = main

[core]
  pager = delta
  excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore

[delta]
  navigate = true # use n and N to move between diff sections
  line-numbers = true
  # side-by-side = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[interactive]
  diffFilter = delta --color-only

[help]
  autocorrect = prompt

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true

[fetch]
  all = true
  prune = true
  pruneTags = true

[merge]
  conflictstyle = zdiff3

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

{{- /* User configs */}}

[github]
  user = jussapaavo

[user]
  name = {{ .name }}
  email = {{ .email_main }}
  {{- if .is_desktop }}
  signingkey = {{ .public_key_main }}
  {{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

{{ if .include_work -}}
[includeIf "gitdir/i:**/SOK/"]
  path = {{ .chezmoi.homeDir }}/.config/git/config-work
{{- end }}

{{ if (eq .chezmoi.os "darwin") -}}
[credential]
  helper = osxkeychain
{{- end }}
