[init]
  defaultBranch = main

[color]
  ui = true

[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore

[rerere]
  enabled = true

[commit]
  verbose = true

[push]
  default = current

[pull]
	rebase = true

[github]
  user = jussapaavo

[user]
	name = {{ .name }}
	email = {{ .email }}

{{ if (eq .chezmoi.os "darwin") -}}
[includeIf "gitdir/i:**/SOK/"]
	path = {{ .chezmoi.homeDir }}/.config/git/config-work

[credential]
  helper = osxkeychain
{{ end -}}
