#!/bin/zsh

# Config dir
export CONDA_ROOT=${XDG_CONFIG_HOME:-$HOME/.config}/conda

# Aliases
alias cab='source $ZDOTDIR/plugins/conda/functions/conda.sh && conda activate base'
alias ca='source $ZDOTDIR/plugins/conda/functions/conda.sh && conda activate'
