{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

source ~/.zshenv

###
# Install Python
###

# Check for uv and install if we don't have it
if ! command -v uv 1>/dev/null 2>&1; then
  brew install uv
fi

# Install Python versions
python_versions=(
    3.13
    3.12
    3.11
)
uv python install $python_versions

###
# Install packages with pipx
###

# Setup
if test $(which uv); then

    # Install additional command line tools
    uv tool install pytest
    uv tool install black
    uv tool install yamllint

    # Install dbt
    uv tool install --python 3.12 dbt-core \
        --with dbt-bigquery \
        --with dbt-snowflake \
        --with dbt-athena-community \

    uv tool install --python 3.12 sqlfluff \
        --with sqlfluff-templater-dbt
fi

{{- end }}
