{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

# Create dev directories

echo "Creating directories..."
mkdir -p {{ .chezmoi.homeDir }}/Development
mkdir -p {{ .chezmoi.homeDir }}/Development/Personal

{{   if .include_work }}
DIRECTORY_SOK={{ .chezmoi.homeDir }}/Development/SOK
mkdir -p $DIRECTORY_SOK
{{   end }}

{{- end }}
