{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

source ~/.zshenv

###
# Install Python
###

# Check for pyenv and install if we don't have it
if ! command -v pyenv 1>/dev/null 2>&1; then
  brew install pyenv
fi

# Link Homebrew's Python versions
mkdir -p $(pyenv root)/versions/
ln -s $(brew --cellar python)/* $(pyenv root)/versions/

# Install Python versions
python_versions=(
    3.11
    3.10
    3.9
    3.8
    3.7
)

for version in $python_versions; do
    if pyenv versions | grep -q "${version}"; then
        echo "Python ${version} already installed."
    else
        pyenv install ${version}:latest
    fi
done

# Set global Python version
pyenv global $python_versions[1]

###
# Install packages with pipx
###

# Setup
pipx ensurepath

# Install additional command line tools
pipx install subliminal
pipx install pytest
pipx install black
pipx install pipenv
pipx install gitlint --include-deps

# Install dbt
pipx install dbt-core
pipx inject dbt-core dbt-bigquery
pipx inject dbt-core dbt-athena-community

# Install sql linter
pipx install sqlfluff
pipx inject sqlfluff sqlfluff-templater-dbt
pipx inject sqlfluff dbt-bigquery
pipx inject sqlfluff dbt-athena-community

###
# Install packages from Pipfile with pipenv. Read more here: https://liatas.com/posts/anaconda-vs-pyenv-pipenv/
###

# No pipenv installations currently.

{{- end }}
