{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install pyenv
brew install pyenv

# Link Homebrew's Python versions
mkdir -p {{ .chezmoi.homeDir }}/.pyenv/versions/
ln -s $(brew --cellar python)/* {{ .chezmoi.homeDir }}/.pyenv/versions/

# Set global Python version
if pyenv versions | grep -q "3.10.1"; then
    pyenv global 3.10.1
else
    pyenv install 3.10.1
    pyenv global 3.10.1
fi

# Setup virtualenvs
pipx ensurepath
pipx install pipenv

# Install packages from Pipfile with pipenv. Read more here: https://liatas.com/posts/anaconda-vs-pyenv-pipenv/

# Install additional productivity / command line tools
pipx install subliminal

{{ end -}}