{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install pyenv
brew install pyenv

# Link Homebrew's Python versions
mkdir -p {{ .chezmoi.homeDir }}/.pyenv/versions/
ln -s $(brew --cellar python)/* {{ .chezmoi.homeDir }}/.pyenv/versions/

# Set global Python version
if pyenv versions | grep -q "3.10.1"; then
    echo "Python 3.10 already installed."
    pyenv global 3.10.1
else
    pyenv install 3.10.1
    pyenv global 3.10.1
fi

# Install other Python versions
if pyenv versions | grep -q "3.8"; then
    echo "Python 3.8 already installed."
else
    pyenv install 3.8:latest
fi

if pyenv versions | grep -q "3.7"; then
    echo "Python 3.7 already installed."
else
    pyenv install 3.7:latest
fi

# Setup virtualenvs
pipx ensurepath
pipx install pipenv

# Install packages from Pipfile with pipenv. Read more here: https://liatas.com/posts/anaconda-vs-pyenv-pipenv/

# Install additional command line tools
pipx install subliminal
pipx install pytest
pipx install black

# Install dbt
pipx install dbt-core --include-deps
pipx inject dbt-core dbt-bigquery
pipx inject dbt-core dbt-athena-community

{{ end -}}