{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

source ~/.zshenv

# Setup Conda
if conda env list | grep -q "base"; then
    # Update base environment if already exists
    conda env update -f {{ .chezmoi.sourceDir }}/../misc/conda-env-base.yml
else
    # Create base environment if does not exist
    conda env create -f {{ .chezmoi.sourceDir }}/../misc/conda-env-base.yml
fi

# Setup Jupyter environment
source $ZDOTDIR/misc/conda.sh
conda activate base
jupyter contrib nbextension install --user
jupyter nbextension enable toc2/maim
jupyter nbextension enable scratchpad/main
conda deactivate

{{- end }}
