{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/zsh

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

# Install Brewfiles
BREWFILE_CORE={{ .chezmoi.sourceDir }}/utils/Brewfile.core
BREWFILE_EXTENDED={{ .chezmoi.sourceDir }}/utils/Brewfile.extended

if test $(brew bundle check --file=$BREWFILE_CORE); then
    brew bundle --no-lock --file=$BREWFILE_CORE
fi

{{- end }}
