{{- if eq .chezmoi.os "darwin" "linux" -}}
#!/bin/zsh

{{ $zim_path := "private_dot_config/zsh/empty_dot_zimrc.tmpl" | trim -}}
# Run only if the file hash changes: {{ include $zim_path | sha256sum }}

# Module configs
zstyle ':zim:zmodule' use 'degit'

# Install missing modules, and update ${ZIM_HOME}/init.zsh if missing or outdated.
if [[ ! ${ZIM_HOME}/init.zsh -nt ${ZDOTDIR:-${HOME}}/.zimrc ]]; then
  source ${ZIM_HOME}/zimfw.zsh init -q
fi

# Initialize modules.
source ${ZIM_HOME}/init.zsh

zimfw install
zimfw uninstall

{{ end -}}
