{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Create dev directories

echo "Creating directories..."
mkdir {{ .chezmoi.homeDir }}/Development
mkdir {{ .chezmoi.homeDir }}/Development/Dagmar
mkdir {{ .chezmoi.homeDir }}/Development/Personal

# Clone git repositories

echo "Cloning repositories..."
PERSONAL=$HOME/Development/Personal
DAGMAR=$HOME/Development/Dagmar

# Personal
git clone git@github.com:jussapaavo/dot_hammerspoon.git $PERSONAL/dot_hammerspoon

{{ end -}}