{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

source ~/.zshenv

if test $(which npm); then
  # Linting and formatting
  npm i -g prettier prettier-plugin-sh prettier-plugin-toml
  # Other tools
  npm i -g agentic-pm
fi

{{- end }}
