{{ includeTemplate "dot_config/aerospace/.chezmoitemplates/main-settings.toml" }}
{{ includeTemplate "dot_config/aerospace/.chezmoitemplates/main-defaults.toml" }}
{{ includeTemplate "dot_config/aerospace/.chezmoitemplates/binding-main.toml" }}
{{ includeTemplate "dot_config/aerospace/.chezmoitemplates/binding-apps.toml" }}
{{ includeTemplate "dot_config/aerospace/.chezmoitemplates/binding-organize.toml" }}
