# XDG dirs
: ${XDG_CONFIG_HOME:=~/.config}
: ${XDG_CACHE_HOME:=~/.cache}
: ${XDG_DATA_HOME:=~/.local/share}
: ${XDG_STATE_HOME:=~/.local/state}
: ${XDG_BIN_HOME:=~/.local/bin}

# Apps
export BAT_THEME='Monokai Extended'
export UNISON=$XDG_CONFIG_HOME/unison
{{- if eq .chezmoi.os "darwin" }}
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
{{- else }}
export FZF_DEFAULT_OPTS='--walker=file,follow,hidden --walker-skip=.git'
{{- end }}
