# XDG dirs
: ${XDG_CONFIG_HOME:=~/.config}
: ${XDG_CACHE_HOME:=~/.cache}
: ${XDG_DATA_HOME:=~/.local/share}
: ${XDG_STATE_HOME:=~/.local/state}
: ${XDG_BIN_HOME:=~/.local/bin}

# Apps
export DBT_PROFILES_DIR=$XDG_CONFIG_HOME/dbt/
export BAT_THEME='Monokai Extended'
export UNISON=$XDG_CONFIG_HOME/unison
