{{- /* Set the list of directories that Zsh searches for programs. */ -}}
path=(
  {{- /* ### Core paths #### */}}
  /{,s}bin(N)
  /usr/{,s}bin(N)
  /usr/local/{,s}bin(N)
  {{ .chezmoi.homeDir }}/{,s}bin(N)
  {{ .chezmoi.homeDir }}/.local/bin(N)

  {{- /* ### Homebrew paths ### */}}
  {{- if and .is_arm (eq .chezmoi.os "darwin") }}
  /opt/homebrew/bin(N)
  {{- end }}

  {{- /* ### App paths ### */}}
  {{- if (eq .chezmoi.os "darwin") }}
  ${PYENV_ROOT:-$HOME/.pyenv}/shims(N) {{- /* Used by pyenv */}}
  {{- end }}

  {{- /* ### Other ### */}}
  $path
)
