{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{/* boolean feature tags */}}
{{- $is_headless := false -}}  {{/* true if this machine does not have a screen and keyboard */}}
{{- $is_ephemeral := false -}} {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $is_codespace := false -}} {{/* true if this machine is run as a GitHub Codespace, VSCode Remote Container, etc */}}
{{- $is_personal := true -}}  {{/* true if this machine is a personal computer with full functionality */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $is_codespace = true -}}
{{-   $is_ephemeral = true -}}
{{-   $is_personal = false -}}
{{- end -}}

{{- if not $is_ephemeral -}}
{{-   if or  (eq .chezmoi.os "darwin") (eq .chezmoi.os "windows") -}}
{{-     $is_personal = true -}}
{{-   if stdinIsATTY -}}
{{-     if hasKey . "is_headless" -}}
{{-       $is_headless = .is_headless -}}
{{-     else -}}
{{-       $is_headless = promptBool "is_headless" -}}
{{-     end -}}
{{-     if hasKey . "is_ephemeral" -}}
{{-       $is_ephemeral = .is_ephemeral -}}
{{-     else -}}
{{-       $is_ephemeral = promptBool "is_ephemeral" -}}
{{-     end -}}
{{-   else -}}
{{-     $is_headless = true -}}
{{-     $is_ephemeral = true -}}
{{-     $is_personal = false -}}
{{-   end -}}
{{- end -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "<first name> <last name>" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "<email>" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- /* Does the same for the work email */ -}}
{{- $email_work := "<work email>" -}}
{{- if hasKey . "email_work" -}}
{{-   $email_work = .email_work -}}
{{- else if $interactive -}}
{{-   $email_work = promptString "email" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ $.chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  email_work: {{ $email_work | quote }}
  hostname: {{ $hostname | quote }}
  is_personal: {{ $is_personal }}
  is_headless: {{ $is_headless }}
  is_ephemeral: {{ $is_ephemeral }}
  is_codespace: {{ $is_codespace }}