{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* boolean feature tags */ -}}
{{- $is_arm := false -}}               {{/* true if this machine has ARM chip (Apple Silicon, M1, etc) */}}
{{- $is_desktop := false -}}           {{/* true if this machine is a desktop or laptop computer with full functionality */}}
{{- $is_headless := false -}}          {{/* true if this machine does not have a screen and keyboard */}}
{{- $is_ephemeral := false -}}         {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $is_codespace := false -}}         {{/* true if this machine is run as a GitHub Codespace, VSCode Remote Container, etc */}}
{{- $is_owned_by_employer := false -}} {{/* true if this machine is owned by employer */}}
{{- $include_work := false -}}         {{/* true if this machine is owned by SOK */}}

{{- /* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $is_codespace = true -}}
{{-   $is_ephemeral = true -}}
{{- end -}}

{{- /* work around unreliable hostname on darwin */ -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $serialNumberSHA256Sum := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" | sha256sum -}}
{{-   if eq $serialNumberSHA256Sum "8a3df051540c8f8f000265e31fdc84196b7a91335f64c224a6e48c552f88c8e0" -}}
{{-     $hostname = "jussis-imac" -}}
{{-     $is_desktop = true -}}
{{-     $include_work = true -}}
{{-   else if eq $serialNumberSHA256Sum "b36d8a635d1d25f2cf3c62b1f31c069ec8b46ce4e1848ff46cf7f3d6ecfe3148" -}}
{{-     $hostname = "10000853il004" -}}
{{-     $is_desktop = true -}}
{{-     $include_work = true -}}
{{-     $is_owned_by_employer = true -}}
{{-   end -}}
{{- end -}}

{{- if not $is_ephemeral -}}
{{-   if eq .chezmoi.os "darwin" "windows" -}}
{{-     $is_desktop = true -}}
{{-     if eq .chezmoi.arch "arm" "arm64" -}}
{{-       $is_arm = true -}}
{{-     end -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "is_headless" -}}
{{-       $is_headless = .is_headless -}}
{{-     else -}}
{{-       $is_headless = promptBool "is_headless" -}}
{{-     end -}}
{{-     if hasKey . "is_ephemeral" -}}
{{-       $is_ephemeral = .is_ephemeral -}}
{{-     else -}}
{{-       $is_ephemeral = promptBool "is_ephemeral" -}}
{{-     end -}}
{{-   else -}}
{{-     $is_headless = true -}}
{{-     $is_ephemeral = true -}}
{{-   end -}}
{{- end -}}

{{- /* Initializes the variables with a default values or promts for input */ -}}
{{- $name := "jussapaavo" -}}
{{- if $interactive -}}
{{-   $name = promptStringOnce . "name" "Your full name" -}}
{{- end -}}

{{- $email_main := "4950494+jussapaavo@users.noreply.github.com" -}}
{{- if $interactive -}}
{{-   $email_main = promptStringOnce . "email_main" "Your personal email" -}}
{{- end -}}

{{- /* $include_work already initialized previously */ -}}
{{- $email_work := "4950494+jussapaavo@users.noreply.github.com" -}}
{{- if $interactive -}}
{{-   $include_work = promptBoolOnce . "include_work" "Include work-related configs" -}}
{{-   if $include_work -}}
{{-     $email_work = promptStringOnce . "email_work" "Your work email" -}}
{{-   end -}}
{{- end -}}

{{- $limit_backups := true -}}
{{- if and $interactive $is_desktop -}}
{{-   $limit_backups = promptBoolOnce . "limit_backups" "Only sync configs for essential apps" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ $.chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email_main: {{ $email_main | quote }}
  email_work: {{ $email_work | quote }}
  hostname: {{ $hostname | quote }}
  is_arm: {{ $is_arm }}
  is_desktop: {{ $is_desktop }}
  limit_backups: {{ $limit_backups }}
  is_owned_by_employer: {{ $is_owned_by_employer }}
  include_work: {{ $include_work }}
  is_headless: {{ $is_headless }}
  is_ephemeral: {{ $is_ephemeral }}
  is_codespace: {{ $is_codespace }}

{{- if $is_desktop }}
  public_key_main: {{ onepasswordRead "op://personal/dsef3t2ki64l3dvdeidjmilgi4/public key" }}
  public_key_work: {{ onepasswordRead "op://personal/bhv4b63xmqg5j7yczdpf3gldvq/public key" }}
{{- end }}
