{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* boolean feature tags */ -}}
{{- $is_arm := false -}}       {{/* true if this machine has ARM chip (Apple Silicon, M1, etc) */}}
{{- $is_headless := false -}}  {{/* true if this machine does not have a screen and keyboard */}}
{{- $is_ephemeral := false -}} {{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $is_codespace := false -}} {{/* true if this machine is run as a GitHub Codespace, VSCode Remote Container, etc */}}
{{- $limit_backups := false -}}      {{/* true if this machine is owned by employer */}}
{{- $is_sok := false -}}       {{/* true if this machine is owned by SOK */}}
{{- $is_personal := false -}}  {{/* true if this machine is owned by me personally */}}

{{- /* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $is_codespace = true -}}
{{-   $is_ephemeral = true -}}
{{- end -}}

{{- /* work around unreliable hostname on darwin */ -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $serialNumberSHA256Sum := index ioreg "IORegistryEntryChildren" 0 "IOPlatformSerialNumber" | sha256sum -}}
{{-   if eq $serialNumberSHA256Sum "8a3df051540c8f8f000265e31fdc84196b7a91335f64c224a6e48c552f88c8e0" -}}
{{-     $hostname = "jussis-imac" -}}
{{-     $is_personal = true -}}
{{-   else if eq $serialNumberSHA256Sum "b36d8a635d1d25f2cf3c62b1f31c069ec8b46ce4e1848ff46cf7f3d6ecfe3148" -}}
{{-     $hostname = "10000853il004" -}}
{{-     $is_personal = true -}}
{{-     $is_sok = true -}}
{{-     $limit_backups = true -}}
{{-   end -}}
{{- end -}}

{{- if not $is_ephemeral -}}
{{-   if eq .chezmoi.os "darwin" "windows" -}}
{{-     $is_personal = true -}}
{{-     if eq .chezmoi.arch "arm" "arm64" -}}
{{-       $is_arm = true -}}
{{-     end -}}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "is_headless" -}}
{{-       $is_headless = .is_headless -}}
{{-     else -}}
{{-       $is_headless = promptBool "is_headless" -}}
{{-     end -}}
{{-     if hasKey . "is_ephemeral" -}}
{{-       $is_ephemeral = .is_ephemeral -}}
{{-     else -}}
{{-       $is_ephemeral = promptBool "is_ephemeral" -}}
{{-     end -}}
{{-   else -}}
{{-     $is_headless = true -}}
{{-     $is_ephemeral = true -}}
{{-   end -}}
{{- end -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Jussi Kämäräinen" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "4950494+jussapaavo@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- /* Does the same for the work email */ -}}
{{- $email_work := "4950494+jussapaavo@users.noreply.github.com" -}}
{{- if hasKey . "email_work" -}}
{{-   $email_work = .email_work -}}
{{- else if $interactive -}}
{{-   $email_work = promptString "email_work" -}}
{{- end -}}

{{- /* Initializes the .limit_backups variable with a default value */ -}}
{{- $limit_backups := false -}}
{{- /* If limit_backups was previously set, reuses it */ -}}
{{- if hasKey . "limit_backups" -}}
{{-   $limit_backups = .limit_backups -}}
{{- /* Otherwise, if running interactively, prompts for a limit_backups */ -}}
{{- else if $interactive -}}
{{-   $limit_backups = promptString "limit_backups" -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ $.chezmoi.sourceDir | quote }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  email_work: {{ $email_work | quote }}
  hostname: {{ $hostname | quote }}
  is_arm: {{ $is_arm }}
  is_personal: {{ $is_personal }}
  limit_backups: {{ $limit_backups }}
  is_sok: {{ $is_sok }}
  is_headless: {{ $is_headless }}
  is_ephemeral: {{ $is_ephemeral }}
  is_codespace: {{ $is_codespace }}