{{- if (eq .chezmoi.os "darwin") -}}
[storage]
engine = dropbox

{{   if .limit_backups }}
[applications_to_sync]
gnupg
ipython
jupyter
rectangle
ssh
zzz-aws
zzz-dbt
zzz-keyremap

{{   end }}
[applications_to_ignore]
mackup
git
zsh
p10k
kitty
hammerspoon
vim
neovim
boto
bash
spectacle
messages
jumpcut
colorslurp
spotify
bettertouchtool
raycast
{{ end -}}
