{{- if (eq .chezmoi.os "darwin") -}}
[storage]
engine = icloud

{{   if .limit_backups }}
[applications_to_sync]
affinity-photo
dash
flux
gnupg
ipython
jupyter
logitech-options
macosx
rectangle
spotify
ssh
tableplus
terminal
zzz-aws
zzz-dbt
zzz-keyremap

{{   end }}
[applications_to_ignore]
mackup
git
zsh
p10k
kitty
hammerspoon
vim
neovim
boto
bash
spectacle
messages
jumpcut
colorslurp
spotify
bettertouchtool
raycast
{{ end -}}
