{{- if (eq .chezmoi.os "darwin") -}}
[storage]
engine = icloud

{{   if .is_work }}
[applications_to_sync]
gnupg
ipython
jupyter
ssh
zzz-aws
zzz-dbt
zzz-keyremap

{{   end }}
[applications_to_ignore]
mackup
git
zsh
p10k
kitty
hammerspoon
vim
neovim
boto
bash
spectacle
messages
rectangle
jumpcut
colorslurp
spotify
bettertouchtool
raycast
{{ end -}}