source ~/.config/sh/environ
source ~/.config/sh/aliases

{{ if (eq .chezmoi.os "darwin") -}}
# Init Google Cloud SDK completions
source "$(brew --prefix)/share/google-cloud-sdk/path.bash.inc"
{{- end }}
