{{/*
# Use ~/.config/vim instead of $HOME for Vim
*/ -}}
export VIMINIT="source {{ .chezmoi.homeDir }}/.config/vim/vimrc"

{{/*
# Set personal aliases
*/}}
source {{ .chezmoi.homeDir }}/.config/scripts/aliases.zsh