" Use ~/.config/vim instead of $HOME
set runtimepath+=~/.config/vim,~/.config/vim/after
set viminfo+=n~/.config/vim/viminfo
set undodir=~/.config/vim/undo//,.

{{ if not .is_ephemeral -}}
" Install plugin manager and set plugins directory to .config
if empty(glob('~/.config/vim/autoload/plug.vim'))
    silent !curl -fLo ~/.config/vim/autoload/plug.vim --create-dirs
        \ https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

" Install plugins
call plug#begin('~/.config/vim/plugged')
Plug 'fxn/vim-monochrome' " colorscheme
Plug 'arcticicestudio/nord-vim' " colorscheme
Plug 'vim-scripts/bash-support.vim'
Plug 'tpope/vim-surround'
call plug#end()
{{ end -}}

" General
set number
set linebreak
set showbreak=+++
set textwidth=100

" allow the cursor to go anywhere in visual block mode.
set virtualedit+=block

" Make search more sane
set ignorecase " case insensitive search
set smartcase " If there are uppercase letters, become case-sensitive.
set incsearch " live incremental searching
set showmatch " live match highlighting
set hlsearch " highlight matches
set gdefault " use the `g` flag by default.

" Tabs
set tabstop=4
set shiftwidth=4
set softtabstop=4
set expandtab " use spaces instead of tabs.
set smarttab " let's tab key insert 'tab stops', and bksp deletes tabs.
set shiftround " tab / shifting moves to closest tabstop.
set autoindent " Match indents on new lines.
set smartindent " Intellegently dedent / indent new lines based on rules.

" We have version control -- we don't need this stuff.
set nobackup " We have vcs, we don't need backups.
set nowritebackup " We have vcs, we don't need backups.
set noswapfile " They're just annoying. Who likes them?

" No annoying sound on errors
set noerrorbells
set novisualbell
set t_vb=
set tm=500

" Advanced
set autoread " when a file has changed on disk, just load it. Don't ask.
set ruler

set undolevels=1000
set backspace=indent,eol,start

" Better command-line completion
set wildmenu

" Show partial commands in the last line of the screen
set showcmd

" Visual line nav, not real line nav
" If you wrap lines, vim by default won't let you move down one line to the
" wrapped portion. This fixes that.
noremap j gj
noremap k gk

{{- if not .is_ephemeral }}
" Colors
colorscheme nord
{{ end -}}