{{- if (eq .chezmoi.os "darwin") -}}
[application]
name = Rekordbox

[configuration_files]
Library/Pioneer/rekordbox/datafile.edb
Library/Pioneer/rekordbox/ExtData.edb
Library/Pioneer/rekordbox/master.backup.db
Library/Pioneer/rekordbox/master.backup2.db
Library/Pioneer/rekordbox/master.backup3.db
Library/Pioneer/rekordbox/master.db
Library/Pioneer/rekordbox/masterPlaylists6.xml
{{ end -}}
